<div
  class="flex flex-col items-center gap-x-8 rounded-xl border-slate-400/10 bg-[#18111f8a] border-2 opacity-80 hover:border-white"
>
  <div class="shrink-0">
    <img src="/1.png" alt="logo" class="w-full h-full rounded-xl" />
  </div>
  <div class="p-4">
    <h3 class="mt-3 text-xl text-center font-semibold text-white">Project 1</h3>

    <div class="mt-3 flex flex-wrap gap-2">
      <div
        class="rounded-md px-2 py-1 text-xs font-semibold bg-[#f85209] text-white"
      >
        Astro.js
      </div><div
        class="rounded-md px-2 py-1 text-xs font-semibold bg-[#38bdf8] text-white"
      >
        Tailwind.css
      </div>
      <div
        class="rounded-md px-2 py-1 text-xs font-semibold bg-[#62ddfa] text-gray-700"
      >
        React.js
      </div>
    </div>
  </div>
</div>