---
import Flag from "./icons/Flag.astro";
---

<div class="relative flex justify-center items-center h-full">
  <div class="relative">
    <h2 class="relative text-2xl lg:text-4xl font-bold purple_gradient">
      Perú
    </h2>
    <div class="absolute top-[-15px] right-[-35px]">
      <Flag />
    </div>
  </div>
</div>