<div class="flex flex-col justify-center items-center h-full gap-3 text-center">
  <h2 class="text-3xl purple_gradient font-bold">Web Developer</h2>
  <h2 class="text-2xl purple_gradient font-bold">MERN</h2>
  <h2 class="text-2xl purple_gradient font-bold">Frontend</h2>
</div>