---
import Card from "./Card.astro";
---

<div id="projects" class="mt-12 mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 max-w-7xl px-5">
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
    <Card/>
</div>