---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="../custom/styles.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #1d232a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 2000px;
    background-image: radial-gradient(
        at 27% 37%,
        rgb(230, 58, 253) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, rgb(214, 114, 254) 0px, transparent 30%),
      radial-gradient(at 52% 99%, rgb(246, 58, 253) 0px, transparent 30%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 80%),
      radial-gradient(at 97% 96%, rgb(228, 149, 198) 0px, transparent 30%),
      radial-gradient(at 33% 50%, rgb(195, 140, 232) 0px, transparent 30%),
      radial-gradient(at 79% 53%, rgb(217, 165, 238) 0px, transparent 30%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }
  .purple_gradient {
    @apply bg-gradient-to-r from-[#fe9a9d] via-[#d798d9] to-[#b1d3f9] bg-clip-text text-transparent;
  }
  .sr-only {
    @apply absolute w-px h-px p-0 -m-px overflow-hidden  whitespace-nowrap border-0;
  }

  .bg-gradient {
    @apply bg-gradient-to-br from-[#0D0D0E] via-[#1a0722] to-[#0D0D0E];
  }

  .slide-down-enter {
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
  }

  .slide-down-enter-active {
    transform: translateY(0);
  }
</style>
